body {
    background-color: #2c2f48;
    color: #ffffff;
    padding-top: 56px; /* Adjust for the navbar height */
}

.navbar {
    margin-bottom: 20px;
}

.sidebar {
    background-color: #ff0000;
    padding: 15px;
}

.search-bar {
    margin-bottom: 15px;
}

.email-list {
    background-color: #008000;
    padding: 15px;
}

.email-item {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #808080;
    margin-bottom: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.email-item.selected {
    background-color: #4caf50;
}

.email-content {
    background-color: #ff00ff;
    padding: 15px;
}

.message {
    background-color: #ffffff;
    color: #000000;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    width: 100%;
    border: 1px solid #cccccc;
}

.compose {
    background-color: #800000;
    color: #ffffff;
}
